.Meme-container {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.top {
    position: absolute;
    margin-top: 20px;
    margin-left: 5px;
}

.bottom {
    position: absolute;
    margin-top: 250px;
    margin-left: 5px;
}